<div class="container-fluid">
<div>
  <img class="imgScanner" src="/assets/Images/Cod scanner.png" alt="">
  <img class="imgUPI" src="/assets/Images/UPI.png" alt="">
<img class="img" src="/assets/Images/Gpay.png" alt="">
<span> <img class="img" src="/assets/Images/phonepay.png" alt=""></span>
<span> <img class="img" src="/assets/Images/Paytm.jpg" alt=""></span>
</div>
<div class="form">
  <div>
    <label class="cardlabelDetails"> Enter Card Details
     <img src="/assets/Images/visa.png" class="cardimage">
    </label>
  <div><label class="cardlabel">Card Number </label></div>
  <input type="text" placeholder="Card No" value=""style="width: 434px;"></div>
  <div>
  <div><label class="cardlabel">Expiry Date </label></div>
  <input type="text" placeholder="Expiry Date" value=""style="width: 434px;"></div>
  <div>
  <div><label class="cardlabel">Cardholder Name </label></div>
  <input type="text" placeholder="Cardholder Name" value="" style="width: 434px;"></div>
  <div><label class="cardlabel">CVV </label></div>
  <input type="text" placeholder="CVV" value="" style="width: 434px;">
  <div class="proceedback">
    <button (click)="goBack()" [disabled]="backBtn" class="btn btn-primary">Back</button> &nbsp;
    <button (click)="proceed()" [disabled]="proceedBtn" class="btn btn-primary">Proceed</button>
    </div>
</div>
  
</div>

<div>
 
