<app-header [userDetails]="userDetails" (searchOn)="onInputChangeData($event)"></app-header>
<div class="card-top container-fluid">
  <div class="comntainer d-flex" style="display: flex;">
    <div class="item">
      <a (click)="filterProducts('all')">
        <img class="imgclass" src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
        <h6 class="itemheader">All products</h6>
      </a>
    </div>
    <div class="item">
      <a (click)="filterProducts('electronics')">
        <img class="imgclass" src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="">
        <h6 class="itemheader">Electronics</h6>
      </a>
    </div>
    <div class="item">
      <a (click)="filterProducts('fashion')">
        <img class="imgclass"src="https://rukminim1.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100" alt="">
        <h6 href=""class="itemheader">Fashion</h6>
      </a>
    </div>
    <div class="item">
      <a (click)="filterProducts('jewelery')">
      <img  style="width: 56px; position: relative;left: 15px;
      top: 2px;" src="https://rukminim1.flixcart.com/image/580/696/kkh6zrk0/jewellery-set/o/w/z/gt-ns-862-matushri-art-original-imafzt9teacakjyn.jpeg?q=50" alt="">
      <h6 class="" style="position: relative;top: 11px;text-indent: 14px;color: #0b48f8; cursor: pointer;">
        Jewllery</h6></a>
    </div>
  
     
        <marquee width="430px" direction="up" height="100px">
          <span> <img class="img" src="/assets/Images/mega.PNG" alt=""> </span>
          </marquee>
          <span> <img class="discount" src="/assets/Images/discount.jpg" alt=""></span>
          <span> <img class="imghurry" src="/assets/Images/hurry.jpg" alt=""></span>
  </div>
</div>
<div class="container">
  
  <div class="row">
    <ng-container *ngFor="let item of productList | filterpipe :{title: searchText, price:searchText,  description: searchText}; let i=index;">
    <div class="card col-md-3">
      <img class="imageproduct"src="{{item.image}}" alt="">
      <h5 style="white-space: nowrap;overflow: hidden; text-overflow:ellipsis;max-width: 100ch;color: black; font-weight: 900;">{{item.title}}</h5>
      <h5 style="white-space: nowrap;overflow: hidden; text-overflow:ellipsis;max-width: 100ch;color: black;">{{item.description}}</h5>
      <app-star [rating]='item.rating.rate'></app-star>
      <p style="color: black;"><strong>Price:</strong>{{item.price | currency}}</p>
      <button class="btn btn-primary" (click)="addtocart(item)">Add to cart</button>
    </div>
  </ng-container>
  </div>

</div>