.card-top {
    position: relative;
    flex-direction: column;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffff;
    background-clip: border-box;
    border: 1px solid black;
    border-radius: .25rem;
    top: -20px;
}
.itemheader {
    color:#0b48f8;
    text-align: center;
    cursor: pointer;
    /* text-indent: 32px; */
}


.imgclass {
    width: 64px;
    margin-left: 21px;
}
.item a:hover {
    color:blue;
}
.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.card {
    margin: 48px;
}

.searchtext {
position: relative;
top: -166px;
left: 218px;
}

input {
    width: 601px;
    height: 38px;
   
}

.img {
    height: 200px;
    width: 500px;
    animation: blinker 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}
@keyframes blinker {  
    from { opacity: 1; }
    to { opacity: 0; }
  }

  .imghurry {
    height: 110px;
    width: 300px;
    position: relative;
    left: 21px;
    animation: blinker 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}
.discount {
    height: 110px;
    width: 179px;
    position: relative;
    left: 30px;
    animation: blinker 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}
  
