<nav class="navbar navbar-expand-lg" >
  <app-header [userDetails]="userDetails"></app-header>
  </nav> 
 
<div class="container" style="background-color: #d1b9b9">
  <h1 class="titleheader">
    Welcome to Product Application !</h1>
    <h1 class="titleheaderr">
    Product List
  </h1>
  
<table class="table mt-3">
  <thead class="tablehead">
    <tr style="background-color: white;">
      <!-- <th style="width:35%; text-align:center;font-size: larger;">Id</th> -->
      <th style="text-align:center;">#Id</th>
      <th class="tableheadth" >Image</th>
      <th class="tableheadth" >Name</th>
      <th class="tableheadth">Description</th>
      <th class="tableheadth">Type</th>
      <th class="tableheadth">Category</th>
      <th class="tableheadth" >Price</th>
      <th style="width:30%;"></th>
    </tr>
  </thead>
  <tbody class="tablebody">
    <tr *ngFor="let row of productData | filter:filter| paginate: { itemsPerPage:5, currentPage: p }"  appHost>
      <td class="rowpading">{{row.id}}</td>
      <td class="rowpading">
        <img height="50px" width="50px" [src]='row.image' [title]='row.title'> </td>
      <td class="rowpading">{{row.title | titlecase}}</td>
      <td class="rowpading" title="{{row.description}}">
        {{(row.description.length>20)? (row.description| titlecase | slice:0:20)+'..':(row.description | titlecase)}}
      </td>
      <td class="rowpading">{{row.type | titlecase}}</td>
      <td class="rowpading">{{row.category | titlecase}}</td>
      <td class="rowpading">{{row.price | currency:'INR'}}</td>
      <td>
        <button (click)="onEdit(row)" class="btn btn-info" type="button" data-toggle="modal" data-target="#exampleModal"><i class="glyphicon glyphicon-pencil"></i></button>
        <button (click)="deleteProduct(row)" class="btn btn-danger mx-3"><i class="glyphicon glyphicon-trash"></i></button>
      </td>  
    </tr>
  </tbody>
 
</table>
<ul class="pagination">  
  <pagination-controls  (pageChange)="p = $event"></pagination-controls>  
  </ul>
  <button type="button" (click)="clickAddDisable()" class="btnAdd btn-primary"data-toggle="modal" data-target="#exampleModal">
    Add Product
   </button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header"style="background-color: #d6ccc1; color:black;">
        <!-- <h5 class="modal-title" style="background-color: white;">Add New Product </h5> -->
        <h5 class="modal-title" style="background-color: #d6ccc1;">{{formTitle}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: #fac87e;color:black;">
        <form [formGroup]='formvalue' (ngSubmit)="onSubmit()">

          <!-- <div class="form-group">
            <label for="exampleInputid" style="margin-left: 47px;">ID:</label>
           <input type="text" formControlName="id"  class="form-control" id="exampleInputid" 
           placeholder="ID" [ngClass]="{ 'is-invalid': submitted && f.id.errors }" />
            <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
              <div *ngIf="f.id.errors.required" class="error"> Id is required</div>
              <div *ngIf="f.id.errors.maxlength" class="error"> Maximum length allowed 4</div>
              
          </div>
          </div> -->
          <div class="form-group row">
            <div class="col-md-4" style="text-align: right"> 
            <label for="exampleInputname" class="labelclassName">Product Image:</label>
            </div>
            <div class="col-md-8"> 
              <input type="file"  formControlName="image"  class="form-control" id="file"
              (change)="onFileUpload($event)"/>
              <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                <div *ngIf="f.image.errors.required" class="error"> File is required</div>
              </div>
            </div>
          </div>
          
          <div *ngIf="imagePreview" class="form-group row">
              <div style="margin-left: 160px">
                <img [src]="imagePreview" height="80px" width="80px">
              </div>
          </div>

          <div class="form-group row">
            <div class="col-md-4" style="text-align: right"> 
            <label for="exampleInputname" class="labelclassName">Product Name:</label>
            </div>
            <div class="col-md-8"> 
              <input type="text"  formControlName="title"  class="form-control" id="exampleInputname" 
              placeholder="name" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
              <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required" class="error"> Name is required</div>
                <div *ngIf="f.title.errors.pattern" class="error"> Name Should start with capital letter</div>
              </div>
            </div>
          </div>

          
          <div class="form-group row">
            <div class="col-md-4" style="text-align: right"> 
            <label for="exampleInputdescription" class="labelclass">Product Description:</label>
            </div>
            <div class="col-md-8"> 
              <textarea rows="3" formControlName="description" class="form-control" id="exampleInputdescription" 
              placeholder="description" [ngClass]="{'is-invalid':submitted && f.description.errors}"></textarea>
              <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required" class="error"> Description is required</div>
                <!-- <div *ngIf="f.description.errors.maxlength" class="error"> Maximum length allowed 100</div> -->
            </div>
          </div>
          </div>
          
          <div class="form-group row">
            <div class="col-md-4" style="text-align: right">
            <label for="exampleInputdescription" class="labelclass">Select Type:</label>
            </div>
            <div class="col-md-8">
              <select formControlName="type" class="form-control">
                <option disabled>Select</option>
                <option>electronics</option>
                <option>jewelery</option>
                <option>fashion</option>
            </select>
              <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                <div *ngIf="f.type.errors.required" class="error"> Type is required</div>
            </div>
          </div>
          </div>

          <div class="form-group row">
            <div class="col-md-4" style="text-align: right">
            <label for="exampleInputdescription" class="labelclass">Select Category:</label>
            </div>
            <div class="col-md-8">
              <select formControlName="category" class="form-control">
                <option disabled>Select</option>
                <option>men's clothing</option>
                <option>women's clothing</option>
                <option>jewelery</option>
                <option>electronics</option>
            </select>
              <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                <div *ngIf="f.category.errors.required" class="error"> Category is required</div>
            </div>
          </div>
          </div>

          <div class="form-group row">
            <div class="col-md-4" style="text-align: right">
            <label for="exampleInputPrice" class="labelclassPrice">Product Rating:</label>
            </div>
            <div class="col-md-8">
              <input type="number" formControlName="rating" class="form-control" id="exampleInputPrice"
              placeholder="rating" [ngClass]="{'is-invalid':submitted && f.rating.errors}">
              <div *ngIf="submitted && f.rating.errors" class="invalid-feedback">
                <div *ngIf="f.rating.errors.required" class="error">Rating is required</div>
            </div>
          </div>
          </div>

          <div class="form-group row">
            <div class="col-md-4" style="text-align: right">
            <label for="exampleInputPrice" class="labelclassPrice">Product Price:</label>
            </div>
            <div class="col-md-8">
              <input type="number" formControlName="price" class="form-control" id="exampleInputPrice"
              placeholder="price" [ngClass]="{'is-invalid':submitted && f.price.errors}">
              <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                <div *ngIf="f.price.errors.required" class="error">Price is required</div>
            </div>
          </div>
          </div>

          <div class="form-group">
            <button *ngIf="showadd" (click)="postProductDetails()"  class="btnAddClose btn-primary">Submit</button>
            <button type="button" id="cancel" class="btnAddClose btn-secondary" data-dismiss="modal" style="background-color: #FFD700;">Cancel</button>
            <button (click)="updateProduct()" *ngIf="showupdate" class="btnUpdate btn-danger mx-3">Submit</button>
          </div>
        </form>
      </div>
   
    </div>
    
  </div>
</div>

</div>



