.container{
    color:white;
    /* background-color: rgb(188, 193, 197); */
    }
.card{
    background-color: rgb(188, 193, 197);
    /* margin-top: 10px; */
    padding: 40px;
    border: none;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50, -50);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1)100%);
    border-radius: 5px;
    height: auto;
}
input,select{
    border-radius: 5px;
}
button{
    margin-top: 10px;
    border-radius: 3px;
}

#emailHelp{
    color: darkcyan;

}

